src/main/resources/xsd/calculator.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Add">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="intA" type="xs:int"/>
                <xs:element name="intB" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AddResult" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
